In [6]:
import pandas as pd

mag = pd.read_sas("Downloads/PBCD_J.XPT")

print(mag.head())

      SEQN  LBXBPB  LBDBPBSI      LBDBPBLC  LBXBCD  LBDBCDSI      LBDBCDLC  \
0  93703.0     NaN       NaN           NaN     NaN       NaN           NaN
1  93704.0     NaN       NaN           NaN    0.07      0.62  1.000000e+00
2  93705.0    2.98      0.14  5.397605e-79    0.24      2.14  5.397605e-79
3  93706.0    0.74      0.04  5.397605e-79    0.21      1.87  5.397605e-79
4  93707.0    0.39      0.02  5.397605e-79    0.14      1.25  5.397605e-79

   LBXTHG  LBDTHGSI      LBDTHGLC  LBXBSE  LBDBSESI      LBDBSELC  LBXBMN  \
0     NaN       NaN           NaN     NaN       NaN           NaN     NaN
1    0.47      2.35  5.397605e-79  142.28      1.81  5.397605e-79    9.41
2    1.07      5.34  5.397605e-79  185.71      2.36  5.397605e-79    8.57
3   10.64     53.09  5.397605e-79  199.44      2.53  5.397605e-79   14.07
4    0.20      1.00  1.000000e+00  179.34      2.28  5.397605e-79   12.60

   LBDBMNSI      LBDBMNLC
0       NaN           NaN
1    171.28  5.397605e-79
2    155.99  5.397605e-79
3    256.10  5.397605e-79
4    229.35  5.397605e-79

In [7]:
depression = pd.read_sas("Downloads/DPQ_J.XPT")
print(depression.head())

      SEQN        DPQ010        DPQ020        DPQ030        DPQ040  \
0  93705.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
1  93706.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
2  93708.0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
3  93709.0           NaN           NaN           NaN           NaN
4  93711.0  1.000000e+00  5.397605e-79  1.000000e+00  5.397605e-79

         DPQ050        DPQ060        DPQ070        DPQ080        DPQ090  \
0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
1  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
2  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
3           NaN           NaN           NaN           NaN           NaN
4  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79

         DPQ100
0           NaN
1           NaN
2           NaN
3           NaN
4  5.397605e-79

In [10]:
data_compare = pd.merge(mag, depression, how = "inner", on = "SEQN")
data_compare.head()

,SEQN,LBXBPB,LBDBPBSI,LBDBPBLC,LBXBCD,LBDBCDSI,LBDBCDLC,LBXTHG,LBDTHGSI,LBDTHGLC,...,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
0,93705.0,2.98,0.14,5.397605e-79,0.24,2.14,5.397605e-79,1.07,5.34,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
1,93706.0,0.74,0.04,5.397605e-79,0.21,1.87,5.397605e-79,10.64,53.09,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
2,93708.0,1.53,0.07,5.397605e-79,0.73,6.49,5.397605e-79,15.23,76.00,5.397605e-79,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
3,93709.0,1.31,0.06,5.397605e-79,1.08,9.61,5.397605e-79,0.41,2.05,5.397605e-79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,93711.0,2.15,0.10,5.397605e-79,0.38,3.38,5.397605e-79,0.20,1.00,1.000000e+00,...,1.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79

In [12]:
row_count= len(data_compare)
print(row_count)

5533

In [13]:
data_compare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5533 entries, 0 to 5532
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5533 non-null   float64
 1   LBXBPB    5264 non-null   float64
 2   LBDBPBSI  5264 non-null   float64
 3   LBDBPBLC  5264 non-null   float64
 4   LBXBCD    5264 non-null   float64
 5   LBDBCDSI  5264 non-null   float64
 6   LBDBCDLC  5264 non-null   float64
 7   LBXTHG    5264 non-null   float64
 8   LBDTHGSI  5264 non-null   float64
 9   LBDTHGLC  5264 non-null   float64
 10  LBXBSE    5264 non-null   float64
 11  LBDBSESI  5264 non-null   float64
 12  LBDBSELC  5264 non-null   float64
 13  LBXBMN    5264 non-null   float64
 14  LBDBMNSI  5264 non-null   float64
 15  LBDBMNLC  5264 non-null   float64
 16  DPQ010    5094 non-null   float64
 17  DPQ020    5093 non-null   float64
 18  DPQ030    5093 non-null   float64
 19  DPQ040    5092 non-null   float64
 20  DPQ050    5092 non-null   float64
 21  DPQ060    5091 non-null   float64
 22  DPQ070    5091 non-null   float64
 23  DPQ080    5091 non-null   float64
 24  DPQ090    5090 non-null   float64
 25  DPQ100    3362 non-null   float64
dtypes: float64(26)
memory usage: 1.1 MB

In [19]:
data_frame = pd.DataFrame({"ID": data_compare["SEQN"], 
                           "Lack of Interest": data_compare["DPQ010"],
                           "Feeling Depressed": data_compare["DPQ020"],
                           "Suicide Ideation": data_compare["DPQ090"],
                           "Affect on Daily Life": data_compare["DPQ100"],
                           "Blood Mercury (ug/L)": data_compare["LBXTHG"],
                           "Blood Manganese (ug/L)": data_compare["LBXBMN"]
                            })
data_frame.head()

,ID,Lack of Interest,Feeling Depressed,Suicide Ideation,Affect on Daily Life,Blood Mercury (ug/L),Blood Manganese (ug/L)
0,93705.0,5.397605e-79,5.397605e-79,5.397605e-79,NaN,1.07,8.57
1,93706.0,5.397605e-79,5.397605e-79,5.397605e-79,NaN,10.64,14.07
2,93708.0,5.397605e-79,5.397605e-79,5.397605e-79,NaN,15.23,15.09
3,93709.0,NaN,NaN,NaN,NaN,0.41,11.88
4,93711.0,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,0.20,6.55

In [20]:
data_frame.dropna(inplace =True)
print(data_frame)

            ID  Lack of Interest  Feeling Depressed  Suicide Ideation  \
4      93711.0      1.000000e+00       5.397605e-79      5.397605e-79
5      93712.0      5.397605e-79       5.397605e-79      5.397605e-79
6      93713.0      1.000000e+00       1.000000e+00      5.397605e-79
7      93714.0      1.000000e+00       5.397605e-79      5.397605e-79
8      93715.0      5.397605e-79       5.397605e-79      5.397605e-79
...        ...               ...                ...               ...
5521  102934.0      5.397605e-79       5.397605e-79      5.397605e-79
5523  102943.0      5.397605e-79       5.397605e-79      5.397605e-79
5526  102947.0      5.397605e-79       5.397605e-79      5.397605e-79
5530  102953.0      1.000000e+00       1.000000e+00      5.397605e-79
5532  102956.0      1.000000e+00       1.000000e+00      5.397605e-79

      Affect on Daily Life  Blood Mercury (ug/L)  Blood Manganese (ug/L)
4             5.397605e-79                  0.20                    6.55
5             5.397605e-79                  0.53                    8.73
6             1.000000e+00                  0.20                    9.67
7             5.397605e-79                  1.24                    7.85
8             5.397605e-79                  2.13                    8.50
...                    ...                   ...                     ...
5521          5.397605e-79                  0.20                    7.14
5523          5.397605e-79                  5.33                   12.54
5526          5.397605e-79                  1.83                    3.37
5530          1.000000e+00                  0.62                    8.34
5532          1.000000e+00                  0.83                    6.14

[3234 rows x 7 columns]